.required label {
    font-weight: bold;
}

.required label:after {
    content: " *";
    color: red;
}

.dev-section {
    background-color: #ffffdd;
    border-top: 1px dashed #ddddaa;
    border-bottom: 1px dashed #ddddaa;
    padding: 0 20px 10px;
}

.user-status-active {
    color: #ffffff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.user-status-admin {
    color: #ffffff;
    background-color: #43ac6a;
    border-color: #3c9a5f;
}

.user-status-request {
    color: #ffffff;
    background-color: #f04124;
    border-color: #ea2f10;
}

.user-status-blocked {
    /* just default */
}

.btn-group form, .btn-group form input[type=submit] {
    display: inline-block;
    position: relative;
    float: left;
}


body .mfp-bg {
    opacity: 0.1;
}

body .mfp-title {
    color: black;
}

body .mfp-bottom-bar {
    background: white;
    padding: 5px;
    /*margin-top: -40px;*/
    /*box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);*/
}

body .mfp-counter {
    top: 5px;
    right: 5px;
}

.mfp-figure img {
    z-index: 1046;
}

body {
    position: relative;
}

.nav .nav {
    padding-left: 10px;
}

#sidebar .nav li > a {
    padding: 3px 5px;
}

#sidebar-container {
    position: relative;
    background: white;
}

#sidebar.stick {
    position: fixed;
    top: 0;
    width: 263px;
    background: white;
}

#sidebar .nav li.active > a {
    border-left: 2px solid #007196;
}

/* index */
.list-group-large {
    font-size: 16px;
}

.search-box {
    display: inline-block;
    width: 200px;
    vertical-align: middle;
}