#preview-block {
    background: white;
    padding: 10px;
    overflow-y: auto;
}

#preview-footer {
    height: 300px;
}

#error-message, #success-message {
    position: fixed;
    z-index: 10;
    left: 100px;
    right: 100px;
    top: 50px;

    display: none;
}