@(infoDisplays: Iterable[InfoDisplay], access: InfoAccess)(implicit request: CommonRequest[_])

@searchPanel() = {
    <form class="navbar-form navbar-left">
        <input type="text" class="form-control col-lg-8" placeholder="Search">
    </form>
}

@main(searchPanel = searchPanel()) {
    @request.commonData.currentProject.map { project =>
        <script src="@routes.Assets.at("javascript/index.js")" type="text/javascript"></script>
        <h1 class="page-header">@project.name
            @if(access.edit) {
                <a href="@routes.InfoController.create()" class="btn btn-default">Добавить</a>
            }
            @if(!access.edit && access.isLoggedIn && project.allowRequestForAccess) {
                <form action="@routes.UserInProjectController.requestAccess()" style="display : inline" method="post">
                    <input type="hidden" name="projectId" value="@project.id">
                    <input type="submit" value="Запросить доступ к проекту" class="btn btn-info">
                </form>
            }
        </h1>
        <div class="list-group">
        @infoDisplays.map { info =>
            <a href="@(
                    if(!info.code.isEmpty && !project.code.isEmpty) routes.InfoController.viewInfoByCode(info.code, project.code)
                    else routes.InfoController.viewInfo(info.id))"
            class="list-group-item" style="padding-left : @(10 + 10 * info.level + "px")" data-keywords="@info.keywords">
                @info.name
                <span class="badge badge-info">@info.childrenCount</span>
            </a>
        }
        </div>
    }
}