@(form: Form[InfoData], info: Info)(implicit request: CommonRequest[_])
@import views.html.helper.FieldConstructor
@implicitFieldConstructor = @{
    FieldConstructor(twitterBootstrapInput.f)
}

@main() {
    <div class="page-header">
        <h1 id="tables">@if(info.id == 0) { Новая страничка } else {@info.name}</h1>
    </div>

    <div class="well">
    @helper.form(
        if(info.id != 0) routes.InfoController.editSave(info.id)
        else routes.InfoController.createSave(), 'class → "form-horizontal"
    ) {
        <fieldset>
            @helper.inputText(form("name"), 'class → "form-control", '_label → "Название")
            @helper.inputText(form("keywords"), 'class → "form-control", '_label → "Ключевые слова")
            @helper.inputText(form("parentInfoId"))
            @helper.textarea(form("text"), 'class → "form-control", 'rows → 5, '_label → "Текст")
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <a class="btn btn-info" href="@routes.ApplicationController.index()">Назад, к проектам</a>
                </div>
            </div>
        </fieldset>
        <a class="btn btn-danger hidden" onclick="return confirm ( 'Точно? Пути назад нет' )">Шняга, чтобы IDEA успокоилась и не светила всё красным.</a>
    }
    </div>
}
