@(form: Form[InfoData], info: Info)(implicit request: CommonRequest[_])
@import play.api.libs.json.Json
@import views.html.helper.FieldConstructor
@implicitFieldConstructor = @{
    FieldConstructor(twitterBootstrapInput.f)
}
@implicitWriteInfo = @{
    Json.writes[Info]
}

@head() = {
    <link rel="stylesheet" href="@routes.Assets.at("css/info/info-edit.css")">
    <link rel="stylesheet" href="@routes.Assets.at("magnific-popup/magnific-popup.css")">
    <link rel="stylesheet" href="@routes.Assets.at("highlightjs/styles/idea.css")">
}

@main(fluid = true, head = head()) {
    <script type="text/javascript" src="@routes.Assets.at("js/marked.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("highlightjs/highlight.pack.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("magnific-popup/jquery.magnific-popup.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascript/info-render.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascript/info/info-edit.js")"></script>
    <div class="page-header">
        <h1>@if(info.id == 0) { Новая страничка } else {
            @info.name
            @revisionControls(info.id, "edit")
        }</h1>
    </div>

    <div id="success-message" class="alert alert-success">
        <b>Запись успешно сохранена</b>
    </div>

    <div id="error-message" class="alert alert-danger">
        <button type="button" class="close">×</button>
        <b>Ошибки при сохранении:</b> <span id="error-messages"></span>
    </div>

    <script type="text/javascript">
    window.angularData = { } ;
    window.angularData.info = @Html(Json.toJson(info).toString());
    window.angularData.infoId = @Html(info.id.toString);
    </script>

    <div ng-app="InfoEdit" ng-controller="InfoEditController as c">
    @helper.form(
        if(info.id != 0) routes.InfoController.editSave(info.id)
        else routes.InfoController.createSave(), 'class → "form-horizontal", 'id → "edit-form"
    ) {
        <div class="panel panel-default">
            <div class="panel-heading">Общая информация
                <a href="#" ng-click="c.showCommon = true; false" ng-show="!c.showCommon">Показать</a>
                <a href="#" ng-click="c.showCommon = false; false" ng-show="c.showCommon">Скрыть</a>
            </div>
            <div class="panel-body" ng-show="c.showCommon">
                <fieldset>
                    @helper.inputText(form("name"), 'class → "form-control", '_label → "Название")
                    @helper.inputText(form("keywords"), 'class → "form-control", '_label → "Ключевые слова")
                    @helper.inputText(form("code"), '_label → "Код", '_help → "Используется для ссылок на страницы, например, с привязкой к урлам другого проекта.")
                    @helper.checkbox(form("isPrivate"), '_label → "Скрытое", '_help → "Доступно только пользователям, имеющим доступ на редактирование.")
                    @helper.inputText(form("parentInfoId"), '_label → "Папка")
                </fieldset>
            </div>
        </div>
        <div class="well">
            @defining(form("text")) { text =>
                <div class="form-group">
                    <div class="col-lg-6">
                        <textarea id="@text.name" name="@text.name" class="form-control" rows="30">@text.value.getOrElse("")</textarea>
                    </div>
                    <div class="panel panel-default col-lg-6">
                        <div class="panel-body" id="preview-block">
                            <div id="preview"></div>
                            <div id="preview-footer"></div>
                        </div>
                    </div>
                </div>
            }
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <a class="btn btn-info" href="@routes.ApplicationController.index()">Назад, ко всем страницам</a>
                </div>
            </div>
        </div>
    }
    </div>
}
