@(info: Info, action: String, extra: ⇒ Html = null)

<span class="btn-group btn-group-xs pull-right">
    <a href="@routes.InfoController.edit(info.projectCode, info.id)" class="btn btn-default btn-sm @if(action == "edit") {disabled}">
        Редактировать</a>
    <a href="@{
        info.code match {
            case Some(code) ⇒ routes.InfoController.viewInfoByCode(code, info.projectCode)
            case None ⇒ routes.InfoController.viewInfo(info.id)
        }
    }" class=" btn btn-default btn-sm@if(action == "view") { disabled } ">Просмотр</a>
    <a href="@routes.InfoController.revisions(info.id)" class="btn btn-default btn-sm @if(action == " revisions") {disabled}">
        Ревизии</a>
        <a href="@routes.InfoController.trash(info.projectCode, info.id, !info.trash)" class="btn btn-default btn-sm">
            @if(info.trash) {Восстановить} else {Удалить}</a>
    @if(extra != null) {
        @extra
    }
</span>
